container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_sqlite_permissions:
    command: "sudo chmod 777 db.sqlite3"
    leader_only: true
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  04_create_superuser:
    command: "python manage.py createsu"
    leader_only: true
  05_wsgi_pass:
    command: "echo 'WSGIPassAuthorization On' >> ../wsgi.conf"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: project.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: project/wsgi.py
